# Use these values in the ".env" you upload to InfinityFree.
# Replace every XXXX with the values from InfinityFree Control Panel > MySQL Databases.

CI_ENVIRONMENT = production

app.baseURL = 'https://jolo-pos.site.je'

database.default.hostname = sql209.infinityfree.com
database.default.database = if0_42950448_pos_db
database.default.username = if0_42950448
database.default.password = FireTruck11
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
